<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5493.38515" targetFramework="net45" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5493.38216" targetFramework="net45" />
</packages>