<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.10.0" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="Termine.Promises.Base" version="0.0.5494.23158" targetFramework="net45" />
  <package id="Termine.Promises.NLogInstrumentation" version="0.0.5494.23461" targetFramework="net45" />
</packages>